.back {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 2rem;
    cursor: pointer;

    &:hover {
        font-weight: 500;
    }
}

fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    legend {
        font: var(--h2);
        margin-bottom: 1rem;
        color: var(--text-primary);
    }
}

.input-wrapper, .select-wrapper, .textarea-wrapper {
    display: flex;
    flex-direction: column;
}