:root {
    --bg: #FFFFFF;
    --text-primary: #101828;
    --text-secondary: #4A5565;
    --font: 'Poppins', sans-serif;
    --h1: 500 2rem/1.5 var(--font);
    --h2: 500 1rem/1.5 var(--font);
    --text: 400 1rem/1.5 var(--font);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: var(--text);
    color: var(--text-primary);
}

#layout {
    display: grid;
    grid-template-columns: 1.25fr 1fr;
    height: 100vh;
    overflow: hidden;
}

main {
    background-color: var(--bg);
    overflow: auto;
    padding: 3rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    header {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        margin-bottom: 2rem;
    }
}

aside {
    background: linear-gradient(to bottom,
            #1a1a4e 0%,
            #2d2a6e 25%,
            #3d3a8e 50%,
            #2a2a5e 75%,
            #0d0d2b 100%);
    min-height: 100vh;
    overflow: hidden;
}

input, select {
    font: var(--text);
    color: var(--text-primary);
    padding: 0.25rem;
    border: 1px solid #D1D5DB;
    border-radius: 0.25rem;
    padding: 0.75rem 1rem;
    background-color: #F9FAFB;

    &::placeholder {
        color: var(--text-secondary);
    }

    &:focus {
        outline: none;
        border-color: #4F46E5;
        box-shadow: 0 0 0 1px rgba(99, 102, 241, 0.5);
    }
}

label {
    font: var(--h2);
    color: var(--text-primary);
    font-weight: 600;
    margin-bottom: 0.25rem;
}